@{
    ViewData["Title"] = "Home Page";
 }  
    <div class="text-center">
        <h1 class="display-4">ГАТАГОВА АМИНА</h1>
        <div>
            <img class="img-fluid" src="~/images/stars-galaxy-3840x2160-10307.jpg">
        </div>

    </div> 