@{
    ViewData["Title"] = "Первое домашнее задание";
}
<h1>@ViewData["Title"]</h1>

<p>
    <ul class="test2">
        <li class="test">
            Задача 1.
            <a href="task1">Время суток</a>
        </li>

        <li class="test">
            Задача 2.

            <a href="task2">Калькулятор</a>
        </li>

        <li class="test">Задача 3. <a href="task3">Калькулятор с операцией</a></li>

        <li class="test">Задача 4. <a href="task4">Калькулятор с операцией и query параметрами</a></li>
    </ul>
    <hr />
</p>
