@{
    ViewData["Title"] = "Первое домашнее задание";
}
<h1>@ViewData["Title"]</h1>

<p>
    <ul>
        <li>Задача 1. Время суток</li>
        <li>Задача 2. Калькулятор</li>
        <li>Задача 3. Калькулятор с операцией</li>
        <li>Задача 4. Калькулятор с операцией и query параметрами</li>
    </ul>
    
   Дедлайн 17.03.2026
</p>
